:root {
	box-sizing: border-box;
	background-image: url(https://wallpaperaccess.com/full/802892.jpg);
	background-size: cover;
}

html,
body,
* {
	max-width: 100% !important;
	overflow-x: hidden !important;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

section {
	height: 100vh;
	font-family: sans-serif;
}

.list {
	color: rgb(255, 255, 255);
	font-size: 22px;
	text-align: center;
}

.score {
	color: rgb(224, 224, 224);
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.score h2 {
	font-size: 13px;
}

.score p {
	text-align: center;
	padding: 10px;
	font-size: 15px;
}

#jam {
	position: relative;
	top: 40px;
	left: 6px;
	text-align: center;
	font-size: 14px;
	color: rgba(2, 255, 255, 0.908);
}

.intro {
	color: rgb(224, 224, 224);
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	transition: 0.5s ease;
}

.intro h1 {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica;
}

.intro button,
.match button {
	width: 150px;
	height: 50px;
	background: none;
	border: none;
	color: rgb(224, 224, 224);
	font-size: 20px;
	background: rgb(45, 117, 96);
	border-radius: 3px;
	cursor: pointer;
}

.match {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: opacity 0.5s ease 0.5s;
}

.winner {
	margin: 0 auto;
	margin-top: 40px;
	color: rgb(224, 224, 224);
	text-align: center;
	font-size: 20px;
}

.hands,
.options {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
}

.options {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
}

.batu {
	margin: 20px;
}

.kertas {
	margin: 20px;
}

.gunting {
	margin: 10px;
}

.hands {
	border: 12px solid rgb(45, 117, 96);
	position: cover;
}

.batu:hover,
.kertas:hover,
.gunting:hover {
	cursor: pointer;
	background-color: rgb(212, 135, 222);
	transition: cubic-bezier(0.215, 0.61, 0.355, 1) ease-in-out;
	transform: scale(105%);
	-webkit-transform: scale(105%);
	-moz-transform: scale(105%);
	-ms-transform: scale(105%);
	-o-transform: scale(105%);
	-webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1) ease-in-out;
	-moz-transition: cubic-bezier(0.215, 0.61, 0.355, 1) ease-in-out;
	-ms-transition: cubic-bezier(0.215, 0.61, 0.355, 1) ease-in-out;
	-o-transition: cubic-bezier(0.215, 0.61, 0.355, 1) ease-in-out;
}

.player-hand {
	width: 40%;
}

.computer-hand {
	position: relative;
	width: 40%;
	color: red;
}

h1 {
	font-size: 50px;
	color: aquamarine;
}

div.fadeOut {
	opacity: 0;
	pointer-events: none;
	padding-top: 200px;
}

div.fadeIn {
	opacity: 1;
	pointer-events: all;
}

@keyframes shakePlayer {
	0% {
		transform: rotateY(0deg) translateY(0px);
	}
	15% {
		transform: rotateY(0deg) translateY(-50px);
	}
	25% {
		transform: rotateY(0deg) translateY(0px);
	}
	35% {
		transform: rotateY(0deg) translateY(-50px);
	}
	50% {
		transform: rotateY(0deg) translateY(0px);
	}
	65% {
		transform: rotateY(0deg) translateY(-50px);
	}
	75% {
		transform: rotateY(0deg) translateY(0px);
	}
	85% {
		transform: rotateY(0deg) translateY(-50px);
	}
	100% {
		transform: rotateY(0deg) translateY(0px);
	}
}

@keyframes shakeComputer {
	0% {
		transform: translateY(0px);
	}
	15% {
		transform: translateY(-50px);
	}
	25% {
		transform: translateY(0px);
	}
	35% {
		transform: translateY(-50px);
	}
	50% {
		transform: translateY(0px);
	}
	65% {
		transform: translateY(-50px);
	}
	75% {
		transform: translateY(0px);
	}
	85% {
		transform: translateY(-50px);
	}
	100% {
		transform: translateY(0px);
	}
}

h4 {
	text-align: center;
	position: relative;
	bottom: 28px;
	color: white;
	font-family: "Helvetica Neue", Helvetica;
}

.social-links {
	margin-bottom: 20px;
	display: flex;
	gap: 10px;
	justify-content: center;
}
/* 
.social-links a {
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
} */

.social-links a:hover {
	color: #24262b;
	background-color: #ffffff;
}

.icon {
	display: flex;
	align-items: center !important;
	justify-content: center !important;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}